Node-RED_Flows/Lab2_Flow.json
[{"id":"31a2b9da.063f36","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4b6ef19.118749","type":"inject","z":"31a2b9da.063f36","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":280,"wires":[["3399153c.fb85ea"]]},{"id":"3399153c.fb85ea","type":"file in","z":"31a2b9da.063f36","name":"","filename":"/tmp/Batt_Log.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":280,"wires":[["78a7a570.c86f44"]]},{"id":"78a7a570.c86f44","type":"ui_gauge","z":"31a2b9da.063f36","name":"","group":"fa124706.0e8c5","order":0,"width":0,"height":0,"gtype":"gage","title":"Robot Voltage","label":"Volts","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":280,"wires":[]},{"id":"fa124706.0e8c5","type":"ui_group","name":"Battery Voltage","tab":"bd4ad14.19ff83","order":1,"disp":true,"width":"6","collapse":false},{"id":"bd4ad14.19ff83","type":"ui_tab","name":"Lab 2","icon":"dashboard","order":1,"disabled":false,"hidden":false}]