Node-RED_Flows/Lab3_Flow.json
[{"id":"e4b25d95.4a72f","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a7fac03f.70a468","type":"inject","z":"e4b25d95.4a72f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":160,"wires":[["94cfe4e0.4edea","fc30071e.507a9"]]},{"id":"94cfe4e0.4edea","type":"file in","z":"e4b25d95.4a72f","name":"","filename":"/tmp/Compass_Log.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":180,"wires":[["53824ec2.1b64e8"]]},{"id":"53824ec2.1b64e8","type":"ui_gauge","z":"e4b25d95.4a72f","name":"","group":"fa124706.0e8c5","order":2,"width":0,"height":0,"gtype":"compass","title":"Compass Heading","label":"Degrees","format":"{{value}}","min":"180","max":"-180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":180,"wires":[]},{"id":"fc30071e.507a9","type":"file in","z":"e4b25d95.4a72f","name":"","filename":"/tmp/Direction_Log.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":120,"wires":[["dd277756.3eecb"]]},{"id":"dd277756.3eecb","type":"ui_text","z":"e4b25d95.4a72f","group":"fa124706.0e8c5","order":1,"width":0,"height":0,"name":"","label":"Cardinal Direcion","format":"{{msg.payload}}","layout":"col-center","x":650,"y":120,"wires":[]},{"id":"fa124706.0e8c5","type":"ui_group","name":"Compass Readings","tab":"7dc1f355.e68d84","order":1,"disp":true,"width":"6","collapse":false},{"id":"7dc1f355.e68d84","type":"ui_tab","name":"Lab 3","icon":"dashboard","disabled":false,"hidden":false}]