Node-RED_Flows/Lab4_Flow.json
[{"id":"31a2b9da.063f36","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"97c86b03.e693d8","type":"inject","z":"31a2b9da.063f36","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":200,"wires":[["7cab1925.a40138","73400353.5b53a4","48429032.72fdb"]]},{"id":"7cab1925.a40138","type":"file in","z":"31a2b9da.063f36","name":"","filename":"/tmp/batt_volt.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":320,"y":280,"wires":[["62c0a050.5abcd8"]]},{"id":"73400353.5b53a4","type":"file in","z":"31a2b9da.063f36","name":"","filename":"/tmp/ang_vel.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":320,"y":200,"wires":[["7f1c566f.70952"]]},{"id":"48429032.72fdb","type":"file in","z":"31a2b9da.063f36","name":"","filename":"/tmp/for_vel.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":320,"y":240,"wires":[["533492f6.b718c4"]]},{"id":"7f1c566f.70952","type":"ui_chart","z":"31a2b9da.063f36","name":"Angular Velocity  (rad/s)","group":"69cac904.5bd438","order":1,"width":0,"height":0,"label":"Angular Velocity (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":550,"y":200,"wires":[[]]},{"id":"533492f6.b718c4","type":"ui_chart","z":"31a2b9da.063f36","name":"Forward Velocity (m/s)","group":"69cac904.5bd438","order":0,"width":0,"height":0,"label":"Forward Velocity (m/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":540,"y":240,"wires":[[]]},{"id":"62c0a050.5abcd8","type":"ui_gauge","z":"31a2b9da.063f36","name":"Robot Voltage","group":"3411cfc0.19c288","order":0,"width":0,"height":0,"gtype":"gage","title":"Robot Voltage","label":"V","format":"{{value}}","min":"9","max":"12.6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":280,"wires":[]},{"id":"69cac904.5bd438","type":"ui_group","name":"Chassis Speeds","tab":"5c777a68.020754","order":1,"disp":true,"width":"6","collapse":false},{"id":"3411cfc0.19c288","type":"ui_group","name":"Robot Diagnostics","tab":"5c777a68.020754","order":2,"disp":true,"width":"6","collapse":false},{"id":"5c777a68.020754","type":"ui_tab","name":"Lab 4","icon":"dashboard","order":3,"disabled":false,"hidden":false}]