Node-RED_Flows/Lab5_Flow.json
[{"id":"a951afc8.dc16e8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"e99a7a64.32124","type":"inject","z":"a951afc8.dc16e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["ccd1bf04.e091f8","a3a21989.7b2eb","abfcfd4e.8eae38","6b14865b.a9ebc8","46943ab6.7979fc"]]},{"id":"abfcfd4e.8eae38","type":"file in","z":"a951afc8.dc16e8","name":"","filename":"/tmp/batt_volt.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":300,"wires":[["1e795cd0.a134b3"]]},{"id":"ccd1bf04.e091f8","type":"file in","z":"a951afc8.dc16e8","name":"","filename":"/tmp/enc_ang_vel.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":200,"wires":[["370e4cb1.c4ad0c"]]},{"id":"a3a21989.7b2eb","type":"file in","z":"a951afc8.dc16e8","name":"","filename":"/tmp/enc_for_vel.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":240,"wires":[["4ea8fbb4.bb20ac"]]},{"id":"370e4cb1.c4ad0c","type":"ui_chart","z":"a951afc8.dc16e8","name":"Angular Velocity  (rad/s)","group":"55939bf3.4156ac","order":2,"width":0,"height":0,"label":"Angular Velocity (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":200,"wires":[[]]},{"id":"4ea8fbb4.bb20ac","type":"ui_chart","z":"a951afc8.dc16e8","name":"Forward Velocity (m/s)","group":"55939bf3.4156ac","order":1,"width":0,"height":0,"label":"Forward Velocity (m/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":640,"y":240,"wires":[[]]},{"id":"1e795cd0.a134b3","type":"ui_gauge","z":"a951afc8.dc16e8","name":"Robot Voltage","group":"ee3f1a86.b338d8","order":1,"width":0,"height":0,"gtype":"gage","title":"Robot Voltage","label":"V","format":"{{value}}","min":"9","max":"12.6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":300,"wires":[]},{"id":"6b14865b.a9ebc8","type":"file in","z":"a951afc8.dc16e8","name":"","filename":"/tmp/Left_wheel.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":100,"wires":[["e65ca597.d1c2a8"]]},{"id":"46943ab6.7979fc","type":"file in","z":"a951afc8.dc16e8","name":"","filename":"/tmp/Right_wheel.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":140,"wires":[["ed3dcc9b.fcc9f8"]]},{"id":"e65ca597.d1c2a8","type":"ui_chart","z":"a951afc8.dc16e8","name":"Left Wheel (rad/s)","group":"1095afd8.8e5ff","order":1,"width":0,"height":0,"label":"Left Wheel (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":100,"wires":[[]]},{"id":"ed3dcc9b.fcc9f8","type":"ui_chart","z":"a951afc8.dc16e8","name":"Right Wheel (rad/s)","group":"1095afd8.8e5ff","order":2,"width":0,"height":0,"label":"Right Wheel (rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":140,"wires":[[]]},{"id":"55939bf3.4156ac","type":"ui_group","name":"Chassis Speeds","tab":"906ace25.db15a","order":3,"disp":true,"width":"6","collapse":false},{"id":"ee3f1a86.b338d8","type":"ui_group","name":"Robot Diagnostics","tab":"906ace25.db15a","order":2,"disp":true,"width":"6","collapse":false},{"id":"1095afd8.8e5ff","type":"ui_group","name":"Wheel Speeds","tab":"906ace25.db15a","order":3,"disp":true,"width":"6","collapse":false},{"id":"906ace25.db15a","type":"ui_tab","name":"Lab 5","icon":"dashboard","disabled":false,"hidden":false}]