Node-RED_Flows/Lab6_Flow.json
[{"id":"80c32489.1c63f8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"92d10d43.a27bb","type":"inject","z":"80c32489.1c63f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":120,"wires":[["7f970f3.1aa3a7","9ed16915.f3b028","1f4fdff5.d4cf3","96e7fe62.cf4c78"]]},{"id":"8e7b0bcc.65fac","type":"comment","z":"80c32489.1c63f8","name":"LIDAR","info":"","x":390,"y":80,"wires":[]},{"id":"7f970f3.1aa3a7","type":"file in","z":"80c32489.1c63f8","name":"","filename":"/tmp/angle.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":120,"wires":[["88352076.58af58"]]},{"id":"9ed16915.f3b028","type":"file in","z":"80c32489.1c63f8","name":"","filename":"/tmp/distance.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":160,"wires":[["edd88e59.b211e8"]]},{"id":"88352076.58af58","type":"ui_gauge","z":"80c32489.1c63f8","name":"Obstacle Angle","group":"ee3f1a86.b338d8","order":1,"width":0,"height":0,"gtype":"gage","title":"Obstacle Angle","label":"deg","format":"{{value}}","min":"-135","max":"135","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":120,"wires":[]},{"id":"edd88e59.b211e8","type":"ui_chart","z":"80c32489.1c63f8","name":"Nearest Obstacle Distance","group":"ee3f1a86.b338d8","order":2,"width":0,"height":0,"label":"Nearest Obstacle Distance","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"N/A","dot":false,"ymin":"","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":680,"y":160,"wires":[[]]},{"id":"1f4fdff5.d4cf3","type":"file in","z":"80c32489.1c63f8","name":"","filename":"/tmp/x_comp.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":220,"wires":[["b50013b3.5d34c"]]},{"id":"96e7fe62.cf4c78","type":"file in","z":"80c32489.1c63f8","name":"","filename":"/tmp/y_comp.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":260,"wires":[["4e9c908f.faef88"]]},{"id":"b50013b3.5d34c","type":"ui_chart","z":"80c32489.1c63f8","name":"Vector X Component","group":"debd7e3f.6eaa2","order":1,"width":0,"height":0,"label":"Vector X Component","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":660,"y":220,"wires":[[]]},{"id":"4e9c908f.faef88","type":"ui_chart","z":"80c32489.1c63f8","name":"Vector Y Component","group":"debd7e3f.6eaa2","order":1,"width":0,"height":0,"label":"Vector Y Component","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":660,"y":260,"wires":[[]]},{"id":"ee3f1a86.b338d8","type":"ui_group","name":"LIDAR","tab":"906ace25.db15a","order":2,"disp":true,"width":"6","collapse":false},{"id":"debd7e3f.6eaa2","type":"ui_group","name":"Vector","tab":"906ace25.db15a","order":4,"disp":true,"width":"6","collapse":false},{"id":"906ace25.db15a","type":"ui_tab","name":"Lab 6","icon":"dashboard","disabled":false,"hidden":false}]